<% content_for(:title, "Edit Lesson | Rebuild This Site!") %>
<h1>Rebuild This Site!</h1>
<br>
<h2>Edit Lesson <%= @lesson.number %></h2>

<%= render('layouts/errors', :object => @lesson) %>

<h3>Enter the following information about the lesson:</h3>
<form action="/lessons/<%= @lesson.number %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('form') %>
  <br><button style="background-color:yellow">Update Lesson <%= @lesson.number %></button>
</form><br>
  <button style="background-color:red"><a href="/lessons/<%= @lesson.number %>"
        data-confirm="Are you sure you want to delete this lesson?"
        data-method="delete" rel="nofollow">Delete Lesson <%= @lesson.number %></a></button>
<br><br><br>
<h4><a href="/sections/new">Create a new section</a></h4>
<h4><a href="/lessons/new">Create a new lesson</a></h4>
<% if @lesson.previous != nil %>
<h4><a href="/lessons/<%= @lesson.previous.number %>/show">Show the previous lesson</h4>
<% end %>
<% if @lesson.next != nil %>
<h4><a href="/lessons/<%= @lesson.next.number %>/show">Show the next lesson</h4>
<% end %>
<h4><a href="/lessons">Table of Contents</a></h4>

