<h1>Rebuild This Site!</h1>
<br>
<h2>Edit Lesson <%= @lesson.number %></h2>

<ul>
  <% if @lesson != nil %>
    <% if @lesson.errors.any? %>
      <h4>Please fix these errors in Lessons:</h4>
      <ul>
        <% @lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    <% end %>
  <% end %>
</ul>

<h3>Enter the following information about the lesson:</h3>
<form action="/lessons/<%= @lesson.number %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="lesson_number">Lesson Number&nbsp&nbsp</label>
  <input id="lesson_number" name="lesson[number]" type="number"
         value="<%= @lesson.number %>">
  <br><label for "lesson_name">Lesson Name &nbsp&nbsp&nbsp&nbsp&nbsp</label>
  <input id="lesson_name" name="lesson[name]" type="text" size="40"
         value="<%= @lesson.name %>">
  <br><label for="lesson_text">Lesson Text</label>
  <br><textarea id="lesson_text" name="lesson[text]" cols="49"
                rows="5"><%= @lesson.text %></textarea>
  <br><button style="background-color:yellow">Update Lesson <%= @lesson.number %></button>
</form><br>
  <button style="background-color:red"><a href="/lessons/<%= @lesson.number %>"
        data-confirm="Are you sure you want to delete this lesson?"
        data-method="delete" rel="nofollow">Delete Lesson <%= @lesson.number %></a></button>
<br>
<% if @lesson.previous != nil %>
<h4><a href="/lessons/<%= @lesson.previous.number %>/show">Show the previous lesson</h4>
<% end %>
<% if @lesson.next != nil %>
<h4><a href="/lessons/<%= @lesson.next.number %>/show">Show the next lesson</h4>
<% end %>
<h4><a href="/lessons">Table of contents</a></h4>

